.ios,
.md,
.wp {
    .menu {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 1;
        padding: 10px 10px 57px;
        background: white;
    }
    ion-tabs[tabs-only],
    ion-tabs[tabs-only] .tabbar {
        position: fixed;
        bottom: 0;
        height: auto;
        visibility: visible;
        opacity: 1;
        z-index: 111;
        height: 58px;
    }
    ion-tabs[tabs-only] {
        margin-bottom: 20px;
        contain: none;
        top: 91%;
    }
    ion-tabs[tabs-only2] .tabbar {
        bottom: 58px!important;
    }
    ion-tabs[tabs-only3] .tabbar {
        bottom: 78px!important;
    }
}