<ion-tabs tabs-only (click)="x()">
    <ion-tab tabIcon="home"></ion-tab>
    <ion-tab tabIcon="star"></ion-tab>
    <ion-tab tabIcon="apps"></ion-tab>
</ion-tabs>
<ion-tabs tabs-only2 [hidden]="hideTopTab">
    <ion-tab tabIcon="home" [root]="tab1Root"></ion-tab>
    <ion-tab tabIcon="person" [root]="tab2Root"></ion-tab>
    <ion-tab tabIcon="contact" [root]="tab3Root"></ion-tab>
</ion-tabs>