<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Battery status: {{status?.level}}</h2>
    <h2>Battery is plugged:{{status?.isPlugged}}</h2>
    <ion-content class="home" padding>
        <button ion-button color="primary" (click)="onBatteryStatus()" full>Get Nettwork Connection</button>
    </ion-content>
    <p>
        This starter project comes with simple tabs-based layout for apps that are going to primarily use a Tabbed UI.
    </p>
    <p>
        Take a look at the <code>src/pages/</code> directory to add or change tabs, update any existing page or create new pages.
    </p>
</ion-content>
<ion-footer>
    <ion-row [hidden]="hideTopTab">
        <ion-col width-20 class="centerIcon">
            <p class="textCenter logohome">
                <ion-icon name="home"></ion-icon>
            </p>
        </ion-col>
        <ion-col width-60 class="centerIcon">
            <p class="textCenter logohome">
                <ion-icon name="star"></ion-icon>
            </p>
        </ion-col>
        <ion-col width-20 class="centerIcon">
            <p class="textCenter logohome">
                <ion-icon name="menu"></ion-icon>
            </p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col width-20 class="centerIcon">
            <p class="textCenter logohome">
                <ion-icon name="home"></ion-icon>
            </p>
        </ion-col>
        <ion-col width-60 class="centerIcon">
            <p class="textCenter logohome">
                <ion-icon name="star"></ion-icon>
            </p>
        </ion-col>
        <ion-col width-20 class="centerIcon">
            <p class="textCenter logohome">
                <ion-icon (click)="x()" name="menu"></ion-icon>
            </p>
        </ion-col>
    </ion-row>

</ion-footer>